.about_section {
  display: flex;
  height: 60vh;
  background-color: #1b2430;
  align-items: center;
  padding-left: 7vw;
  padding-right: 7vw;
}
.about_section-image {
  width: 40%;
  height: 70%;
  background-color: #fff;
}
.about_section-content {
  width: 50%;
  height: 60%;
  margin-left: 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: red;
}
.about_section-content span {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}
