.contact_section {
  background-color: #1b2430;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 7vw;
  padding-right: 7vw;
}
.contact_section h1 {
  font-size: 2.5rem;
  color: #fff;
  padding-bottom: 20px;
}
.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90%;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
input,
textarea {
  background-color: #253345;
  border-radius: 6px;
  font-size: 22px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 55vw;
  padding-left: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  outline: none;
  color: #fff;
  resize: vertical;
  font-family: "Lexend Deca", sans-serif;
}
input:focus,
textarea:focus {
  border: solid 2px rgb(55, 148, 227);
  border-radius: 6px;
  transition: all 0.3s ease-in;
}
textarea {
  height: 150px;
}
#submitBtn {
  margin-top: 40px;
  background-color: transparent;
  font-size: 1vw;
  border: solid 2px rgb(55, 148, 227);
  border-radius: 6px;
  transition: all 0.3s ease-in;
  width: min-content;
  display: flex;
  align-items: center;
  padding: 8px 90px;
  cursor: pointer;
}
#submitBtn input {
  cursor: pointer;
  resize: none;
  background-color: transparent;
  width: fit-content;
  margin: 0;
  padding: 0;
}
#submitBtn input:focus {
  border: none;
  transition: none;
}
#submitBtn img {
  width: 40px;
  padding-left: 10px;
}
#submitBtn:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in;
  border: solid 2px #fff;
}
.loading_container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  input,
  textarea {
    width: 60vw;
  }
}
