.easteregg_section {
  padding-left: 35vw;
  padding-right: 35vw;
  padding-top: 7vh;
  padding-bottom: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2rem;
}
.easteregg_section button {
  font-size: 2rem;
}
.snap {
  transition: all 0.5s ease-in-out;
  background-color: rgb(190, 82, 82);
}
.vanished {
  opacity: 0;
  transform: scale(0);
}
@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.fade-out {
  -webkit-animation: fade-out 2s ease-out 0.5s infinite both;
  animation: fade-out 2s ease-out 0.5s infinite both;
}
