.footer_section {
  background-color: #1b2430;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 7vw;
  padding-right: 7vw;
  color: #fff;
}
.footer_section span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
}
.footer_section button {
  padding: 10px 20px;
  background-color: transparent;
  font-size: 22px;
  font-weight: 700;
  border: solid 2px rgb(55, 148, 227);
  border-radius: 6px;
  transition: all 0.3s ease-in;
  margin-left: 15px;
}
.footer_section button:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in;
  border: solid 2px #fff;
}
.footer_links {
  display: flex;
  flex-direction: column;
}
.footer_links h2 {
  padding-top: 5vh;
  padding-bottom: 4vh;
  text-align: center;
  font-weight: 400;
  font-size: 28px;
}
.links_container {
  display: flex;
  justify-content: space-around;
  padding-left: 35vw;
  padding-right: 35vw;
  padding-bottom: 20px;
  padding-top: 10px;
}
.footer_links img {
  width: 35px;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .footer_section span {
    font-size: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .footer_section span {
    font-size: 1.5rem;
  }
  .links_container {
    padding-left: 30vw;
    padding-right: 30vw;
  }
}
@media screen and (max-width: 425px) {
  .footer_section span {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    text-align: center;
  }
  .footer_section button {
    margin-top: 20px;
    margin-left: 0;
  }
  .links_container {
    padding-left: 25vw;
    padding-right: 25vw;
  }
  .footer_links img {
    width: 30px;
  }
}
@media screen and (max-width: 375px) {
  .footer_section button {
    padding: 8px 16px;
    font-size: 20px;
    margin-left: 0;
  }
}
