.hero_section {
  height: 85vh;
  background-color: #1b2430;
  padding-left: 7vw;
  padding-right: 7vw;
  overflow: hidden;
}
.hero_section-content {
  padding-top: 7vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.hero_section-content h1 {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
}
.hero_section-content span {
  background: linear-gradient(
    60deg,
    #3792e4,
    #31cabd,
    #3792e4,
    #f43b60,
    #3792e4
  );
  background-size: 800% 800%;
  -webkit-animation: NameAnimation 15s ease infinite;
  -moz-animation: NameAnimation 15s ease infinite;
  -o-animation: NameAnimation 15s ease infinite;
  animation: NameAnimation 15s ease infinite;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 5vw;
  font-weight: 700;
}
@-webkit-keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-moz-keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@-o-keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
@keyframes NameAnimation {
  0% {
    background-position: 0% 10%;
  }
  50% {
    background-position: 100% 91%;
  }
  100% {
    background-position: 0% 10%;
  }
}
.hero_section-content p {
  text-align: center;
  font-size: 18px;
  line-height: 2.5rem;
  width: 70%;
  padding-bottom: 10px;
  padding-top: 20px;
}
.hero_section-links {
  display: flex;
  justify-content: space-around;
  padding-left: 35vw;
  padding-right: 35vw;
  padding-bottom: 20px;
  padding-top: 10px;
}
.hero_section-links img {
  width: 35px;
}
.hero_section-contact {
  margin: 10px;
  display: flex;
  justify-content: center;
}
.hero_section-contact button {
  padding: 8px;
  background-color: transparent;
  font-size: 22px;
  border: solid 2px rgb(55, 148, 227);
  border-radius: 6px;
  transition: all 0.3s ease-in;
}
.hero_section-contact button:hover {
  transform: scale(1.01);
  transition: all 0.3s ease-in;
  border: solid 2px #fff;
}
