.navbar_container {
  padding-left: 7vw;
  padding-right: 7vw;
  background-color: transparent;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.logo_container a {
  font-family: "Sacramento", cursive;
  font-size: 3vw;
  font-weight: 700;
  margin-left: 2px;
  margin-right: 4px;
}
.nav-list {
  display: flex;
}
.nav-links a {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 18px;
  font-weight: 600;
}
.nav-links a:hover {
  transition: all 0.3s ease-in;
  background: linear-gradient(60deg, #3792e4, #31cabd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
