.navbar_container {
  padding-left: 7vw;
  padding-right: 7vw;
  background-color: transparent;
  padding-top: 2.5vh;
  padding-bottom: 2.5vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
}
.logo_container a {
  font-family: "Sacramento", cursive;
  font-size: 3vw;
  font-weight: 700;
  margin-left: 2px;
  margin-right: 4px;
}
.ham_image {
  display: none;
}
.nav-list {
  display: flex;
}
.nav-links a {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 18px;
  font-weight: 600;
}
.nav-links a:hover {
  transition: all 0.3s ease-in;
  background: linear-gradient(60deg, #3792e4, #31cabd);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* MEDIA QUERIES */

@media screen and (max-width: 1024px) {
  .logo_container a {
    font-size: 4vw;
  }
}
@media screen and (max-width: 768px) {
  .logo_container a {
    font-size: 5vw;
  }
}
@media screen and (max-width: 425px) {
  .logo_container a {
    font-size: 6vw;
  }
  .navlinks_mobile {
    display: flex;
    position: absolute;
    right: 0;
    top: 20vh;
  }
  .nav-list {
    display: flex;
    flex-direction: column;
  }
  .ham_image {
    display: block;
  }
  .ham_image img {
    width: 40px;
  }
  .navlinks_container {
    display: none;
  }
}
