.projects_section {
  background-color: #0f1318;
  display: flex;
  flex-direction: column;
  padding-top: 7vh;
  padding-bottom: 7vh;
  padding-left: 7vw;
  padding-right: 7vw;
  color: #fff;
}
.projects_container {
  display: flex;
}
.project_card {
  display: flex;
  width: 100%;
  height: 35vh;
  border-radius: 8px;
}
.project_image {
  width: 30%;
  background-color: #184f7a;
}
.project_content {
  padding-top: 3vh;
  padding-bottom: 3vh;
  display: flex;
  flex-direction: column;
  width: 70%;
  background-color: #0f1318;
  padding-left: 1vw;
  padding-right: 1vw;
}
.project-title {
  font-size: 1.2vw;
  padding-bottom: 20px;
}
.project_tools span {
}
.tools_content span {
  background-color: #253345;
  border-radius: 6px;
  padding: 2px 5px;
  margin-right: 20px;
}
