@import "tailwindcss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Lexend_Deca", sans-serif;
}
div {
  overflow: hidden;
}
@font-face {
  font-family: "Lexend_Deca";
  src: local("Lexend_Deca"),
    url("/fonts/Lexend_Deca/LexendDeca-VariableFont_wght.ttf")
      format("truetype");
}
@font-face {
  font-family: "Sacramento";
  src: local("Sacramento"),
    url("/fonts/Sacramento/Sacramento-Regular.ttf") format("truetype");
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: #ebebeb;
}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 3px;
  background: linear-gradient(60deg, #3792e4, #31cabd);
}
a {
  color: #fff;
}
button {
  cursor: pointer;
}
.svgs {
  width: 20px;
  margin-right: 10px;
}
